package login

import "myog/templates/components"

templ LoginPage(){
    <html lang="en">
        @components.HeadComponent()
        <body>
            @components.HeaderComponent()
            <div class="w-9/12 mx-auto">
                <h1>login page</h1>
            </div>
            @components.FooterComponent()
        </body>
    </html>
}