package errorPage

import "myog/templates/components"

templ ErrPage(){
    <html lang="en">
        @components.HeadComponent()
        <body>
            <main>
                <div class="w-9/12 mx-auto">
                    <h1>error 404 page</h1>
                </div>
                @components.FooterComponent()
            </main>
        </body>
    </html>
}