package signup

import "myog/templates/components"

templ SignupPage(){
    <html lang="en">
        @components.HeadComponent()
        <body>
            @components.HeaderComponent()
            <div class="w-9/12 mx-auto">
                <h1>signup page</h1>
            </div>
            @components.FooterComponent()
        </body>
    </html>
}